<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ this.page.id == 'home' ? this.theme.site_name ~ ' | ' : '' }}{{ this.page.meta_title ? this.page.meta_title : this.page.title }}</title>
<meta name="description" content="{{this.page.meta_description}}">

<link rel="stylesheet" href="{{ mix('/css/app.css') }}">

{#<link rel="stylesheet" href="{{ ['~/modules/system/assets/css/framework.extras.css'] | theme }}">#}

{% styles %}
{{ this.theme.include_head }}